.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: rgba(0, 0, 0, .9);
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smopthing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    position: relative;
    left: 0;
    top: 0;
    background: #fff;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    padding: 20px 40px;
    font-size: 22px;
    text-transform: uppercase;
}

.btn::before {
    position: absolute;
    left: 12px;
    top: 10px;
    background: indigo;
    border: 0;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.btn:hover{
    left: 12px;
    top: 10px;
    background: indigo;
    color: #fff;
}

.btn:hover::before {
    left: -12px;
    top: -10px;
    background: #fff;
}

.btn,
.btn::before {
    transition: all .3s linear;
}



